<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body style="background-color: aqua;">
    <h1 style="text-align: center;font-size:60px; color:  rgb(255, 0, 0);"> <b><i>Welcome to my Library</i></b></h1>
    <p style="text-align: center;font-size: 25px; color:  rgb(255, 0, 0);"> <b>See the list of available books <a href="/books/book-list">Click here</a></b></p>
    <p style="text-align: center;font-size: 30px; color: rgb(255, 0, 0);"> <b>Insert a book <a href="/books/form">Click here</a></b></p>
    <p style="text-align: center;font-size: 30px;color: rgb(255, 0, 0);"> <b>Search a book by name <a href="/books/search">Click here</a></b></p>
    <p style="text-align: center;font-size: 30px; color: rgb(255, 0, 0);"> <b>Issue a book <a href="/books/bookissue">Click here</a></b></p>
  </body>
</html>
