<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/login_option.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

<body> 
    <img src="../public/images/loginoption.jpg" height="730px" width="1520px">
    <div class="container">
        <div class="center">
         <a class="my-button" href="/user">Student log in</a>
         <a class="my-button" href="/admin">Admin log in</a>
        </div>
    </div>
</body>
</html>